.bannerBgImage {
    height: 100vh;
    background-image: url(images/bannerimage.jpg);
    background-size: cover;
    position: relative;
}
.bannerText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.bannerTitle {
    font-size: 4rem;
}
.bannerDesc {
    font-size: 2rem;
}

.card {
    cursor: pointer;
}

.card:hover{
    background-color: #e0ffff;
    border: 2px solid #0000ff;
}

.bIcon {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover{
    border: 2px solid blue;
}

.card-img-top{
    height: 25vh;
}